body {
    background: #FCF5ED;
    font-family: 'TW Cen MT Std', sans-serif;
}
.nav-item {
    font-size: large;
}


.dropdown-item {
    color: white;
}

.dropdown-menu {
    background: #191919;
}

#img {
    object-fit: cover;
    height: 60vh;
}

#staff {
    object-fit: cover;
    height: 40vh;
}

.btn {
    border-radius: 0px;
}

#logo {
    height: 10vh;
    width: auto;
}